@font-face {
  font-family: "myiconfont"; /* Project id 4327637 */
  src: url('//at.alicdn.com/t/c/font_4327637_q7k47xa6e1.woff2?t=1713433570004') format('woff2'),
       url('//at.alicdn.com/t/c/font_4327637_q7k47xa6e1.woff?t=1713433570004') format('woff'),
       url('//at.alicdn.com/t/c/font_4327637_q7k47xa6e1.ttf?t=1713433570004') format('truetype');
}

.myiconfont {
  font-family: "myiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smart-xiala:before {
  content: "\e655";
}

.smart-xuanzhong:before {
  content: "\e654";
}

.smart-shuiwenjiance:before {
  content: "\e61e";
}

.smart-yingjiguanli:before {
  content: "\e61f";
}

.smart-yucefenxi:before {
  content: "\e620";
}

.smart-fenchenjiance:before {
  content: "\e621";
}

.smart-yujingfenxi:before {
  content: "\e622";
}

.smart-baojingfenxi:before {
  content: "\e623";
}

.smart-xunjianhuifang:before {
  content: "\e624";
}

.smart-xunjianguanli:before {
  content: "\e625";
}

.smart-dingbanjiance:before {
  content: "\e626";
}

.smart-zhinengfenxi:before {
  content: "\e627";
}

.smart-yujingbaojing:before {
  content: "\e628";
}

.smart-waiyinhuozaijiance:before {
  content: "\e629";
}

.smart-yuanchengjiankong:before {
  content: "\e62a";
}

.smart-renwuguanli:before {
  content: "\e62b";
}

.smart-shouye:before {
  content: "\e62c";
}

.smart-shujufenxi:before {
  content: "\e62d";
}

.smart-lishixunjian:before {
  content: "\e62e";
}

.smart-wasijiance:before {
  content: "\e62f";
}

.smart-shishishuju:before {
  content: "\e630";
}

.smart-guzhangguanli:before {
  content: "\e631";
}

.smart-dangrixunjian:before {
  content: "\e632";
}

.smart-baogaobaobiao:before {
  content: "\e633";
}

.smart-tongfengguzhang:before {
  content: "\e634";
}

.smart-shebeiguzhang:before {
  content: "\e635";
}

.smart-zhutongfengji:before {
  content: "\e636";
}

.smart-xunjiandian2:before {
  content: "\e637";
}

.smart-yangqi:before {
  content: "\e638";
}

.smart-meiziran:before {
  content: "\e639";
}

.smart-jiaodaihuozai:before {
  content: "\e63a";
}

.smart-yujingquyu:before {
  content: "\e63b";
}

.smart-jubutongfengji:before {
  content: "\e63c";
}

.smart-shuiwen:before {
  content: "\e63d";
}

.smart-dianqihuozai:before {
  content: "\e63e";
}

.smart-xunjiandian:before {
  content: "\e63f";
}

.smart-cefengcedian:before {
  content: "\e640";
}

.smart-fengmen:before {
  content: "\e641";
}

.smart-shidu:before {
  content: "\e642";
}

.smart-xiangdao:before {
  content: "\e643";
}

.smart-shishibaojing:before {
  content: "\e644";
}

.smart-renyuan:before {
  content: "\e645";
}

.smart-wendu:before {
  content: "\e646";
}

.smart-xunjianluxian:before {
  content: "\e647";
}

.smart-fenchen1:before {
  content: "\e648";
}

.smart-wasi1:before {
  content: "\e649";
}

.smart-caimeigongzuomian:before {
  content: "\e64a";
}

.smart-yiyanghuatan:before {
  content: "\e64b";
}

.smart-juejinmian:before {
  content: "\e64c";
}

.smart-kuangyayujing:before {
  content: "\e64d";
}

.smart-eryanghuatan:before {
  content: "\e64e";
}

.smart-dingban:before {
  content: "\e64f";
}

.smart-fengchuang:before {
  content: "\e650";
}

.smart-baojingquyu:before {
  content: "\e651";
}

.smart-dianzipaiban:before {
  content: "\e652";
}

.smart-dongshi:before {
  content: "\e653";
}

.smart-quanping:before {
  content: "\e61d";
}

.smart-tubiaobiaozhi:before {
  content: "\e61c";
}

.smart-wasi:before {
  content: "\e614";
}

.smart-tongfeng:before {
  content: "\e615";
}

.smart-xieya:before {
  content: "\e616";
}

.smart-keyan:before {
  content: "\e617";
}

.smart-fangmiehuo:before {
  content: "\e618";
}

.smart-shuifen:before {
  content: "\e619";
}

.smart-fenchen:before {
  content: "\e61a";
}

.smart-kuangya:before {
  content: "\e61b";
}

.smart-tanfangshui:before {
  content: "\e60f";
}

.smart-wasichoufang:before {
  content: "\e610";
}

.smart-xingzhuang:before {
  content: "\e611";
}

.smart-yibiao:before {
  content: "\e612";
}

.smart-zaihaizhili:before {
  content: "\e613";
}

.smart-jidian:before {
  content: "\e60e";
}
